.alert.alert-error.hide{ :id => "modal_#{modal_type}_playlist_error_title_empty" }
  Title cannot be empty.
.alert.alert-error.hide{ :id => "modal_#{modal_type}_playlist_error_cannot_save" }
  Unable to save playlist due to internal server error, please try again.
  
%form.form-horizontal
  .control-group
    %label.control-label{ :for => "modal_#{modal_type}_playlist_form_title", :id => "modal_#{modal_type}_playlist_label_title" }
      Title *
    .controls
      %input{ :type => "text", :id => "modal_#{modal_type}_playlist_field_title" }
  .control-group
    %label.control-label{ :for => "modal_#{modal_type}_playlist_form_description" }
      Description
    .controls
      %input{ :type => "text", :id => "modal_#{modal_type}_playlist_field_description" }
      

